body{
  background: url("img/fon.jpg");
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  /*background-position: 50% 75px;*/
  /*background: gainsboro;*/
}
.cen{
  /*border: 1px solid black;*/
  width: 1000px;
  padding: 10px;
}
.hmsc{
  float: left;
  margin: 0 211px 0 0;
}
.h{

}
.m{

}
.s{

}
.c{

}

.lr{

}
.l{

}
.r{

}
.inl{
  display: inline-block;
  margin: 0 10px 0 0;
  background: deepskyblue;
  padding: 3px 9px;
  border-radius: 4px;
}
.form_regi{
  margin: 25px 0 0 0;
}
.form_regi input{
  margin: 10px 0 0 0;
}
.form_login{
  margin: 25px 0 0 0;
}
.form_login input{
  margin: 10px 0 0 0;
}
.home_1{
  border-bottom: 1px solid black;
}
.home_2{

}
.cont_l{
  float: left;
  width: 40%;
  height: 250px;
}
.cont_r{
  float: left;
  width: 60%;
  text-align: left;
}
.contacts_b{
  padding: 5px;
  border: 1px solid black;
  /*width: 370px;*/
}

.textt{
  text-indent: 30px;
  text-align: justify;
}

.textt1 li{
  text-align: justify;
}

ul li{
  text-align: justify;
}

.tt{
  border: 1px black solid;
}
.tt th, .tt td{
  border: 1px black solid;
  text-align: center;
}